body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f8e9;
  min-height: 100vh;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.header-container {
  display: flex;
  flex-direction: column;
}
.socials {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  background-color: #092e20;
  align-items: center;
}
.footer-socials {
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  margin: 0 5px;
  /* justify-content: center; */
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  font-size: 28px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

/* Logo */
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid rgb(100, 100, 100); */
}

.brand-icon {
  margin-right: 5px;
}
.brand-link {
  margin-left: 5px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
.brand-name {
  font-size: 32px;
  color: #1f4e23;
}

/* Cart */
.cart {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  align-items: center;
}
.cart-icon {
  margin-right: 2.5px;
}
.cart-text {
  color: #000;
  font-size: 18px;
  margin-left: 2.5px;
  font-family: sans-serif;
  font-weight: 500;
}
.cart-cartItems {
  border: 1px solid #092e20;
  background-color: #092e20;
  color: white;
  border-radius: 75%;
  padding: 2px;
  margin-left: 2.5px;
  font-weight: 400;
}
a {
  text-decoration: none;
}

main {
  padding: 20px 75px 20px 75px;
}
/* Products HomePage */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product {
  border: 1px rgb(231, 231, 231) solid;
  border-radius: 10px;
  margin: 0.5rem;
  width: 275px;
}
.product-image {
  justify-content: center;
  display: flex;
  background-color: rgb(231, 231, 231);
}
.product img {
  width: 200px;
  height: 300px;
  max-width: 300px;
}
.product-info {
  padding: 1rem;
}
.product-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Nunito', sans-serif;
  color: #000;
}
.product-name {
  color: #000;
}
.product-gender {
  font-size: 13px;
  color: rgb(100, 100, 100);
}
.product-addToCart-button {
  border: 1px #000 solid;
  border-radius: 25px;
  padding: 7px 15px 7px 15px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 700;
}
.product-addToCart-button:hover {
  border-color: #092e20;
  background-color: #092e20;
  color: white;
}

/* Rating Component*/
.rating {
  color: #0d6b15;
  width: 100%;
  height: 50%;
}
.rating-numReviews {
  color: rgb(100, 100, 100);
}
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #092e20;
  padding: 5px;
}
.footer-text {
  padding: 5px;
  color: #f1f8e9;
}

ul {
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
  top: 25%;
  /* left: 50%; */
  transform: translate(0%, 0%);
}

ul li {
  list-style: none;
  margin: 0 5px;
}

ul li a {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 31px;
  background: #000;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  transition: 0.7s;
}

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #0d6b15;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #0d6b15;
}

ul li a:hover {
  color: #0d6b15;
  box-shadow: 0 0 5px #092e20;
  text-shadow: 0 0 5px #092e20;
}

.productpage-container {
  display: flex;
  flex-direction: row;
}

.productpage-image {
  width: 400px;
  height: 500px;
  border: 0.5px solid #f1f8e9;
  border-radius: 10px;
}
.productpage-name {
  margin-top: 0px;
}
.productpage-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 75px;
  width: 100%;
}
.productpage-description {
  color: rgb(100, 100, 100);
}
.productpage-rating {
  margin-top: 10px;
  margin-bottom: 10px;
}
.productpage-quantity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.productpage-quantity-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  color: rgb(100, 100, 100);
  font-weight: 600;
}
.quantity-color {
  color: #1f4e23;
  font-weight: 700;
}
.productpage-quantity {
  font-size: 24px;
  width: 100px;
  background-color: rgb(231, 231, 231);
  color: #092e20;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #999;
  outline: none;
  border: none;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
label {
  position: relative;
}
label:after {
  content: '<>';
  font: 16px 'Consolas', monospace;
  color: #092e20;
  font-weight: bolder;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 8px;
  top: -3px;
  padding: 0 0 2px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  pointer-events: none;
}
label:before {
  content: '';
  right: 6px;
  top: 0px;
  width: 20px;
  height: 20px;
  background: #eee;
  position: absolute;
  pointer-events: none;
  display: block;
}

.productpage-qty-option {
  background-color: rgb(231, 231, 231);
  color: #092e20;
  margin-top: 10px;
  /* border: 1px solid #0d6b15;
  border-radius: 10px; */
}

.productpage-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.productpage-buynow {
  padding: 15px;
  width: 175px;
  background-color: #092e20;
  color: #ddd;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 15px;
  font-size: 15px;
}
.productpage-buynow:hover {
  background-color: white;
  border-color: #092e20;
  color: #092e20;
}
.productpage-addToCart {
  margin-left: 15px;
  padding: 15px;
  width: 175px;
  border: 1px solid #092e20;
  background-color: #ddd;
  border-radius: 25px;
  cursor: pointer;
  color: #092e20;
  font-size: 15px;
}
.productpage-addToCart:hover {
  border-color: #092e20;
  background-color: #092e20;
  color: white;
}

/* loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Media Queries (max-width = 480px) */
@media screen and (max-width: 480px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0px;
  }
  .logo {
    margin-left: 0px;
  }
  .brand-icon {
    width: 50px;
    height: 50px;
  }
  .brand-name {
    font-size: 26px;
  }
  .cart-text {
    display: none;
  }
  main {
    padding: 10px 50px 10px 50px;
  }
  ul {
    padding: 0 0px;
  }
  .productpage-container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
  }
  .productpage-image {
    width: 350px;
    height: 500px;
  }
  .productpage-details {
    margin-left: 0px;
    align-items: center;
    flex-wrap: nowrap;
  }
  .productpage-quantity-container {
    justify-content: center;
  }
  .productpage-price {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .productpage-buynow {
    padding: 10px;
    width: 125px;
  }
  .productpage-addToCart {
    padding: 10px;
    width: 125px;
  }
  .productpage-quantity-alert {
    margin-left: 30px;
  }
}
